@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend";
}

@layer base {
  :root {
    --primary-color: #f7f4f4;
    --secondary-color: #fff;
    --accent-color: #c2c2c2;
    --text-color: #000;

    --primary-dark: #150e17;
    --secondary-dark: #1e1420;
    --accent-dark: #861aa7;
    --text-dark: #fff;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[var(--secondary-color)];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[var(--accent-color)];
  }

  @font-face {
    font-family: "Lexend";
    src: local("MyFont"), url(./fonts/Lexend-Regular.ttf) format("ttf");
  }

  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-[var(--primary-color)] text-[var(--text-color)];
  }

  #root {
    @apply min-h-full flex flex-col gap-y-10;
  }

  .darkMode {
    --primary-color: var(--primary-dark);
    --secondary-color: var(--secondary-dark);
    --accent-color: var(--accent-dark);
    --text-color: var(--text-dark);
  }
}
